body{
    background-color: wheat;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 8%;
    font-weight: bold;
    text-align: center;
}
h2{
   margin-left: 40%;
   margin-top: 100px;
}
h2 button{
    height: 50px;
    width: 300px;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    border-radius: 30px;
    border: 2px solid aqua;
}
button:hover{
    background-color: aqua;
}

.text{
    border: 2px solid aqua;
    background-color: rgba(195, 196, 193, 0.937);
    height: 300px;
    width: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 5%;
}
 h3{

    
}